<script type="text/x-jsrender" id="PageTemplate">
	<main class="Main" data-link="class{merge:Editing toggle='Editing'}">
		<section class="Computers">
			<table>
				<thead>
					<tr>
						<th class="Name">Name</th>
						<th class="MAC">MAC</th>
						<th class="IP">IP</th>
						<th class="UserName">UserName</th>
						<th class="ShutdownType">Shutdown type</th>
						<th class="ActionButton Wake"></th>
						<th class="ActionButton Reboot"></th>
						<th class="ActionButton Shutdown"></th>
						<th class="ActionButton Edit"></th>
					</tr>
				</thead>
				<tbody>
					{^{for Computers}}
						<tr>
							<td class="Name">{{>Name}}</td>
							<td class="MAC">{{>MAC}}</td>
							<td class="IP">{{>IP}}</td>
							<td class="UserName">{{>UserName}}</td>
							<td class="ShutdownType">{{>~WinWRS.ShutdownType[ShutdownType]}}</td>
							<td class="ActionButton Wake"><button class="ImageButton" title="Wake" data-link="{on Wake} disabled{:_actionExecuting} class{merge:_actionExecuting toggle='Disabled'}">Wake</button></td>
							<td class="ActionButton Reboot"><button class="ImageButton" title="Reboot" data-link="{on Reboot} disabled{:_actionExecuting} class{merge:_actionExecuting toggle='Disabled'}">Reboot</button></td>
							<td class="ActionButton Shutdown"><button class="ImageButton" title="Shutdown" data-link="{on Shutdown} disabled{:_actionExecuting} class{merge:_actionExecuting toggle='Disabled'}">Shutdown</button></td>
							<td class="ActionButton Edit"><button class="ImageButton" title="Edit" data-link="{on Edit} disabled{:_actionExecuting} class{merge:_actionExecuting toggle='Disabled'}">Edit</button></td>
						</tr>
					{{/for}}
				</tbody>
			</table>
			<button class="ImageButton" Id="AddNew" title="Add" data-link="{on AddNew}">Add</button>
		</section>
		<section class="EditedComputer">
			{^{for EditedComputer}}
				<table>
					<tbody>			
						<tr>
							<td>Name</td>
							<td><input type="text" id="EditedName" data-link="{:Name:}" /></td>
							<td><button class="FillBy" id="FillByName" title="Fill by Name" data-link="{on FillByName}">Fill by Name</button></td>
						</tr>
						<tr>
							<td>MAC</td>
							<td><input type="text" id="EditedMAC" data-link="{:MAC:}" /></td>
							<td><button class="FillBy" id="FillByMac" title="Fill by MAC" data-link="{on FillByMac}">Fill by MAC</button></td>
						</tr>
						<tr>
							<td>IP</td>
							<td><input type="text" id="EditedIP" data-link="{:IP:}" /></td>
							<td><button class="FillBy" id="FillByIp" title="Fill by IP" data-link="{on FillByIp}">Fill by IP</button></td>
						</tr>
						<tr>
							<td>UserName</td>
							<td><input type="text" id="EditedUserName" data-link="{:UserName:}" /></td>
							<td></td>
						</tr>
						<tr>
							<td>Password</td>
							<td><input type="password" id="EditedPassword" data-link="{:Password:}" /></td>
							<td></td>
						</tr>	
						<tr>
							<td>Shutdown type</td>
							<td>
								<select id="EditedShutdownType" data-link="{:ShutdownType:StringToInt}">
									{{for _shutdownTypeOptions}}
										<option value="{{attr:Id}}">{{>Value}}</option>
									{{/for}}
								</select>
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<button class="Remove" title="Remove" data-link="{on Remove} disabled{:_actionExecuting}">Remove</button>
				<button id="Save" title="Save" data-link="{on Save}">Save</button>
				<button id="Cancel" title="Cancel" data-link="{on CancelEdit}">Cancel</button>
			{{/for}}
		</section>
	</main>
</script>